// ======================================
// Página Blog - Desktop
// ======================================

// Base comum
@import "core/base";

// Estilos específicos da página
@import "pages/_blog";