// Config
@import "core/settings";
@import "core/mobile/utils";

// Vendor
@import "selectric/src/selectric.scss";
@import "slick-carousel/slick/slick.scss";

// Defaults
@import "core/global";
@import "core/grid";
@import "core/fonts";

// Structural
@import "core/mobile/structure";

// Modules
@import "modules/mobile/sidebar";
@import "modules/mobile/breadcrumb";
@import "modules/mobile/slider";
@import "modules/mobile/buttons";
@import "modules/mobile/forms";

// Pages
@import "pages/mobile/home";
@import "pages/mobile/about";
@import "pages/mobile/blog";
@import "pages/mobile/contact";