// ======================================
// Página Blog - Mobile
// ======================================

// Base comum mobile
@import "../core/mobile/base";

// Estilos específicos da página
@import "../pages/_blog";